body {
	background-color:rgb(213, 244, 249) !important;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}

.container {
	min-height: 100vh;
}

a {
	text-decoration: none !important;
	color: #131313 !important;
}

a:hover {
	color: rgb(7, 144, 195) !important;
}

ul {
	columns: 3;
}

img {
	max-width: 100px;
}
