body {
	background-color: rgb(213, 244, 249) !important;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}

.container {
	min-height: 100vh;
}

.container-detailed-meal {
	max-width: 1000px !important;
}

a {
	text-decoration: none !important;
	color: #131313 !important;
}

a:hover {
	color: rgb(7, 144, 195) !important;
}

ul {
	columns: 3;
}

img.thumbnail {
	max-width: 100px;
}

.container-img{
	max-width:50%;
}

.container-img img {
	width: 100%;
}
